<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
</style>
.titel1
{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1200px;
  line-height: 54px;
  text-align: center;
}

.LoginText
{
font-family: 'Poppins', sans-serif;
color: #5B5656;

}
.flexbox
{
  display:flex;
  justify-content: flex-end;
  border-left:10px;
}
.img1
{
  /* position: relative;
  width: 1238px;
  height: 863px; */
}
